@{
	ViewBag.Title = "焼肉部";
}
<script src="@Url.Content("~/Scripts/app/index.js")" type="text/javascript"></script>
<h2>@ViewBag.Message</h2>
<div id='info'>
	<span>あなたの現在位置</span><br />
	・<span id='latlng'></span><br />
	・<span id='address'></span><br />
</div>
<div id='top_map'></div>
