@if (Request.IsAuthenticated) {
    <p>
        こんにちは, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })!
        @Html.ActionLink("ログアウト", "Logout", "Account")
    </p>
}
