<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="xxxxx"/>
		<add key="SharedSecret" value="xxxxx"/>
	</appSettings>

	<system.diagnostics>
		<sources>
			<source name="MainTraceSource" switchName="MainSwitch">
				<listeners>
					<add name="TextListener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="TextListener"
				 type="System.Diagnostics.TextWriterTraceListener"
				 traceOutputOptions="Timestamp,Callstack,DateTime,LogicalOperationStack,ProcessId,ThreadId"
				 initializeData="flickr.log"/>
		</sharedListeners>
	</system.diagnostics>
</configuration>