<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.Net.Sockets" switchName ="NetSwitch">
				<listeners>
					<!--<add name="NetListener"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="NetSwitch" value="Verbose"/>
		</switches>
		<sharedListeners>
			<!--<add name="NetListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\testtest.log"/>-->
		</sharedListeners>
	</system.diagnostics>
</configuration>