@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>メール:</h3>
    </header>
    <p>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
</section>
