<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="DefaultTemporaryDirectory" value="F:\android-temp" />
		<add key="SdkDirectory" value="C:\Program Files (x86)\Android\android-sdk\platform-tools"/>
	</appSettings>
</configuration>
